In [13]:
import pandas as pd

# read all (!) HTML tables from the Wikipedia page on article depth
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_largest_cities")

# check which table is the one we are looking for
tables[1].head()

     City[a] Country UN 2018 population estimates[b]         City proper[c]  \
     City[a] Country UN 2018 population estimates[b]             Definition
0        NaN     NaN                             NaN                    NaN
1      Tokyo   Japan                      37468000.0  Metropolis prefecture
2      Delhi   India                      28514000.0           Capital City
3   Shanghai   China                      25582000.0           Municipality
4  São Paulo  Brazil                      21650000.0           Municipality

                                       Metropolitan area[d]            \
   Population Area(km2)  Density(/km2)           Population Area(km2)
0         NaN       NaN            NaN                  NaN       NaN
1  13515271.0    2191.0      6,169[13]             37274000   13452.0
2  16753235.0    1484.0     11,289[15]             29000000    3483.0
3  24870895.0    6341.0  3,922[17][18]                  NaN       NaN
4  12252023.0    1521.0      8,055[19]             21734682    7947.0

                Urban area[8]
  Density(/km2)    Population Area(km2) Density(/km2)
0           NaN           NaN       NaN           NaN
1     2,771[14]      39105000    8231.0      4,751[e]
2     8,326[16]      31870000    2233.0     14,272[f]
3           NaN      22118000    4069.0      5,436[g]
4     2,735[20]      22495000    3237.0      6,949[h]

In [14]:
df = tables[1]
df

                         City[a]        Country  \
                         City[a]        Country
0                            NaN            NaN
1                          Tokyo          Japan
2                          Delhi          India
3                       Shanghai          China
4                      São Paulo         Brazil
..                           ...            ...
77  Washington metropolitan area  United States
78                        Yangon        Myanmar
79                    Alexandria          Egypt
80                         Jinan          China
81                   Guadalajara         Mexico

   UN 2018 population estimates[b]         City proper[c]              \
   UN 2018 population estimates[b]             Definition  Population
0                              NaN                    NaN         NaN
1                       37468000.0  Metropolis prefecture  13515271.0
2                       28514000.0           Capital City  16753235.0
3                       25582000.0           Municipality  24870895.0
4                       21650000.0           Municipality  12252023.0
..                             ...                    ...         ...
77                       5207000.0       Federal district    702455.0
78                       5157000.0                   City         NaN
79                       5086000.0      Urban governorate         NaN
80                       5052000.0  City (sub-provincial)   8700000.0
81                       5023000.0           Municipality   1385621.0

                            Metropolitan area[d]                          \
   Area(km2)  Density(/km2)           Population Area(km2) Density(/km2)
0        NaN            NaN                  NaN       NaN           NaN
1     2191.0      6,169[13]             37274000   13452.0     2,771[14]
2     1484.0     11,289[15]             29000000    3483.0     8,326[16]
3     6341.0  3,922[17][18]                  NaN       NaN           NaN
4     1521.0      8,055[19]             21734682    7947.0     2,735[20]
..       ...            ...                  ...       ...           ...
77     177.0      3,969[30]              6263245   17009.0       368[99]
78       NaN            NaN                  NaN       NaN           NaN
79       NaN            NaN                  NaN       NaN           NaN
80   10244.0            849                  NaN       NaN           NaN
81     151.0      9,176[21]              5286642    3560.0          1485

   Urban area[8]
      Population Area(km2) Density(/km2)
0            NaN       NaN           NaN
1       39105000    8231.0      4,751[e]
2       31870000    2233.0     14,272[f]
3       22118000    4069.0      5,436[g]
4       22495000    3237.0      6,949[h]
..           ...       ...           ...
77       7583000    5501.0      1,378[r]
78       6497000     603.0         10774
79       4857000     293.0         16577
80       4381000     798.0          5490
81       5437000     313.0    17,371[22]

[82 rows x 13 columns]

In [17]:
df.columns

MultiIndex([(                        'City[a]', ...),
            (                        'Country', ...),
            ('UN 2018 population estimates[b]', ...),
            (                 'City proper[c]', ...),
            (                 'City proper[c]', ...),
            (                 'City proper[c]', ...),
            (                 'City proper[c]', ...),
            (           'Metropolitan area[d]', ...),
            (           'Metropolitan area[d]', ...),
            (           'Metropolitan area[d]', ...),
            (                  'Urban area[8]', ...),
            (                  'Urban area[8]', ...),
            (                  'Urban area[8]', ...)],
           )

In [40]:
df.drop([0])

                         City[a]        Country  \
                         City[a]        Country
1                          Tokyo          Japan
2                          Delhi          India
3                       Shanghai          China
4                      São Paulo         Brazil
5                    Mexico City         Mexico
..                           ...            ...
77  Washington metropolitan area  United States
78                        Yangon        Myanmar
79                    Alexandria          Egypt
80                         Jinan          China
81                   Guadalajara         Mexico

   UN 2018 population estimates[b]         City proper[c]              \
   UN 2018 population estimates[b]             Definition  Population
1                       37468000.0  Metropolis prefecture  13515271.0
2                       28514000.0           Capital City  16753235.0
3                       25582000.0           Municipality  24870895.0
4                       21650000.0           Municipality  12252023.0
5                       21581000.0             City-state   9209944.0
..                             ...                    ...         ...
77                       5207000.0       Federal district    702455.0
78                       5157000.0                   City         NaN
79                       5086000.0      Urban governorate         NaN
80                       5052000.0  City (sub-provincial)   8700000.0
81                       5023000.0           Municipality   1385621.0

                            Metropolitan area[d]                          \
   Area(km2)  Density(/km2)           Population Area(km2) Density(/km2)
1     2191.0      6,169[13]             37274000   13452.0     2,771[14]
2     1484.0     11,289[15]             29000000    3483.0     8,326[16]
3     6341.0  3,922[17][18]                  NaN       NaN           NaN
4     1521.0      8,055[19]             21734682    7947.0     2,735[20]
5     1485.0      6,202[21]             21804515    7866.0     2,772[22]
..       ...            ...                  ...       ...           ...
77     177.0      3,969[30]              6263245   17009.0       368[99]
78       NaN            NaN                  NaN       NaN           NaN
79       NaN            NaN                  NaN       NaN           NaN
80   10244.0            849                  NaN       NaN           NaN
81     151.0      9,176[21]              5286642    3560.0          1485

   Urban area[8]
      Population Area(km2) Density(/km2)
1       39105000    8231.0      4,751[e]
2       31870000    2233.0     14,272[f]
3       22118000    4069.0      5,436[g]
4       22495000    3237.0      6,949[h]
5       21505000    2385.0          9017
..           ...       ...           ...
77       7583000    5501.0      1,378[r]
78       6497000     603.0         10774
79       4857000     293.0         16577
80       4381000     798.0          5490
81       5437000     313.0    17,371[22]

[81 rows x 13 columns]

In [34]:
Country = df["Country"]

In [35]:
Country

          Country
0             NaN
1           Japan
2           India
3           China
4          Brazil
..            ...
77  United States
78        Myanmar
79          Egypt
80          China
81         Mexico

[82 rows x 1 columns]

In [43]:
population estimates = df["UN 2018 population estimates"]

SyntaxError: invalid syntax (2944494289.py, line 1)